@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap>);
@import url("https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro");

:root {
  --white: #efeeeb;
  --black: #1f1f1d;
  --forest: #73877b;
  --gray: #cdd5d1;
  --pink: #f981d0;
  --orange: #fca049;
  --red: #fc5843;
  --blue: #98dada;
  --green: #050504;
  --purple: #95a3ed;
}

body {
  display: block;
  margin: 0px;
}
.App {
  height: 100vh;
}

.App .container {
  max-width: 1440px;
  margin: 0 auto;
}

.App .footer {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: var(--black);
  width: 100%;
}

.App .footer div {
  margin: 0 10px;
}

.App .footer button {
  background: none;
  border: none;
  color: var(--black);
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 300;
  text-decoration: none;
}

.footer button:hover {
  cursor: pointer;
  font-weight: 500;
}

.App h2.stay-focus {
  font-family: "neue haas grotesk display pro";
  text-transform: uppercase;
  font-weight: 500;
}

.notes-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
h2 {
  font-family: "neue haas grotesk display pro";
  text-transform: uppercase;
  margin-block-end: 0;
  margin-block-start: 0;
}

/* Dark mode */
.dark {
  background-color: #222;
  color: #fff;
}

/* Responsive */
@media (max-width: 480px) {
  .App .container {
    width: auto;
    max-width: 75%;
    min-height: auto;
    padding: 20px;
    justify-content: space-around;
  }

  .App .footer {
    font-size: 0.8rem;
  }
}
