.SessionButtons .controller-wrapper {
  padding: 30px;
  width: 290px;
  margin: auto;
}

.SessionButtons button {
  font-family: "Josefin Sans", sans-serif;
  border: none;
  border-radius: 1rem;
  background-color: #1f1f1d;
  color: #efeeeb;
  padding: 0.7rem;
  margin: 0.5rem 0.5rem;
  transition: scale 0.5s ease;
  justify-content: center;
  line-height: 1;
  width: 230px;
  border: 1px solid transparent;
}

.SessionButtons button:hover {
  cursor: pointer;
  background-color: #efeeeb;
  color: #1f1f1d;
  border: 1px solid;
}

/* .SessionButtons button:active {
  scale: 0.9;
} */

.SessionButtons button.active {
  background-color: #efeeeb;
  color: #1f1f1d;
  border: 1px solid;
  padding: 0.7rem;
  margin: 0.5rem 0.5rem;
}

.SessionButtons .break-buttons {
  display: flex;
}

.SessionButtons .break-buttons button {
  font-size: 1rem;
}

.SessionButtons .break-buttons .short-break {
  flex-grow: 1;
}

.SessionButtons .break-buttons .long-break {
  flex-grow: 11;
}

.SessionButtons .focus {
  width: calc(100% - 1rem);
  font-size: 1rem;
}

@media (max-width: 480px) {
  .SessionButtons button {
    padding: 0.7rem;
  }

  .SessionButtons .break-buttons button {
    font-size: 0.9rem;
  }
  .SessionButtons .focus {
    font-size: 1.2rem;
  }
}
