.ChangeTimer .controller-wrapper {
  padding: 30px;
  /* width: 290px; */
  margin: auto;
}

.ChangeTimer button {
  font-family: "Josefin Sans", sans-serif;
  border: none;
  border-radius: 2rem;
  background-color: #1f1f1d;
  color: #efeeeb;
  padding: 0.7rem;
  margin: 0.5rem 0.5rem;
  transition: scale 0.5s ease;
  justify-content: center;
  line-height: 1;
  width: 230px;
  border: 1px solid transparent;
}

.ChangeTimer button:hover {
  cursor: pointer;
  background-color: #efeeeb;
  color: #1f1f1d;
  border: 1px solid;
}

/* .ChangeTimer button:active {
  scale: 0.9;
} */

.ChangeTimer button.active {
  background-color: #efeeeb;
  color: #1f1f1d;
  border: 1px solid;
  padding: 0.7rem;
  margin: 0.5rem 0.5rem;
}

.ChangeTimer .break-buttons {
  display: flex;
}

.ChangeTimer .break-buttons button {
  font-size: 1rem;
}

.ChangeTimer .break-buttons .short-break {
  flex-grow: 1;
}

.ChangeTimer .break-buttons .long-break {
  flex-grow: 11;
}

.ChangeTimer .focus {
  width: calc(100% - 1rem);
  font-size: 1rem;
}

@media (max-width: 480px) {
  .ChangeTimer button {
    padding: 0.7rem;
  }

  .ChangeTimer .break-buttons button {
    font-size: 0.9rem;
  }
  .ChangeTimer .focus {
    font-size: 1.2rem;
  }
}
