.Notes {
  width: 100%;
  height: 550px;
}

.Notes h2 {
  text-align: left;
}

.notes-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  padding-top: 70px;
}
.Notes .note-heading {
  margin-bottom: 2em;
}
.Notes small {
  margin-bottom: 2em;
}
.Notes .bloc-note {
  height: 100%;
  width: 100%;
  padding: 0px;
}

textarea.block-text {
  box-sizing: border-box;
  width: calc(100% - 16px);
  height: 80%;
  resize: none;
  border: none;
  border-radius: 2px;
  font-family: inherit;
  padding: 15px;
  background-color: rgba(211, 211, 211, 0.3);
  font-size: 16px;
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

/* .Notes {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
} */

.note-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-note-button {
  background: #ffcc00;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.5rem;
}

.sticky-wall {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 20px;
  justify-content: center;
}

.sticky-note,
.add-note {
  height: 150px;
}

.sticky-note {
  background: #fef68a;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.add-note {
  background: #ebebeb;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 15px;
}

.note-text {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  resize: none;
  outline: none;
  font-size: 13px;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #00000090;
  padding: 0px;
  line-height: 1.5;
}
