.Timer {
  font-family: "neue haas grotesk display pro";
  font-weight: 400;
  margin: 90px 0 0 0;
  border-bottom: 2px solid;
  justify-content: space-between;
}

.Timer .Pomodoto-timer {
  display: flex;
  justify-content: flex-start;
}
.Timer .Timer-Controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Timer .timer-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.Timer .timer-display h1 {
  font-size: 15rem;
  font-family: "neue haas grotesk display pro";
  font-weight: 400;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 0 1rem;
  color: #1f1f1d;
  line-height: 1;
}
/* Button */
.Timer button {
  border: none;
  background-color: transparent;
  color: #1f1f1d;
}

.Timer button:hover,
.Timer button:active {
  cursor: pointer;
  scale: 1.1;
  opacity: 1;
}

.Timer button:active {
  scale: 0.9;
}

/* Session icons */
.session-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  margin-bottom: 5px;
  background: #f2f2f2;
  transition: background-color 0.5s ease;
}

.session-icon.completed {
  background: #1f1f1d;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .Timer .timer-display button {
  font-family: inherit;
  font-size: 2.5rem;
  padding: 0;
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.4));
} */

/* .Timer .timer-save-link button {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #fafafa;
  font-size: 0.9rem;
  opacity: 1;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.Timer .timer-save-link button:hover {
  font-size: 0.85rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
} */

/* .Timer .timer-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

/* .Timer .timer-buttons button svg {
  font-size: 25px;

} */

/* .Timer .timer-buttons button.reset-icon {
  font-size: 0.8rem;
}

.Timer .timer-buttons button.sound-icon {
  font-size: 0.8rem;
} */

/* @media (max-width: 480px) {
  .Timer .timer-buttons {
    margin-top: 15px;
  }

  .Timer .timer-display h1 {
    font-size: 4.3rem;
  }

  .Timer .timer-save-link button {
    font-size: 0.9rem;
  }

  .Timer .timer-buttons button.playpause-icon {
    font-size: 1.2rem;
  }
} */
